<footer>
    <div class="container footer-cols">
      <div class="col">
        <h4>Services</h4>
        <ul>
          <li><a href="#">Residential</a></li>
          <li><a href="#">Commercial</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Locations</h4>
        <ul>
          <li><a href="#">Downtown</a></li>
          <li><a href="#">Kitsilano</a></li>
          <li><a href="#">Yaletown</a></li>
          <li><a href="#">West End</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Moving Tips</h4>
        <ul>
          <li><a href="#">Our Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Moving Checklist</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>About Us</h4>
        <ul>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Giving Back</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="footer-logo">
          <img src="https://via.placeholder.com/150x50?text=Vancouvers+Movers" alt="Logo">
        </div>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </footer>